
#table1{
    display: table;
    width: 100%;
    margin-top: 10px;
    border-spacing: 0;
    box-shadow: 0px 0px 5px 0px black;
}
#table1 tr:nth-child(even){
    background-color: lightgreen;
}
#table1 tr:nth-child(odd){
    background-color: white;
}
#table1 th{
    color: white;
    background-color: black;
}

#search{
    display: inline-block;
    width: 88%;
    padding: 1% 10% 1% 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 120%;
}

#search_button{
    padding: 1% 2% 1% 2%;
    float: right;
    margin-left: 2%;
    width: 10%;
    text-align: center;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 120%;
}